 body {
    background: #f6f9f6;
}

.sidebar {
    background: #004F44;
    min-height: 100vh;
    color: #fff;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
}

.sidebar .logo {
        
    margin-bottom: 18px;
    padding-left: 22px;
}

.sidebar .nav-link {
    color: #fff !important;
    padding-left: 22px;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.08);
    border-left: 4px solid #aea327;
    color: #ffffff !important;
}

.sidebar .bi {
    margin-right: 10px;
    font-size: 1.2rem;
}
    .avatar-admin {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
    .main-content {
      background: transparent;
      min-height: 100vh;
      margin: 35px 34px 35px 34px;
    }
    .content-section {
      background: #fff;
      border-radius: 18px;
      padding: 25px 25px;
      box-shadow: 0 4px 18px 0 rgba(36, 113, 74, 0.11);
    }
    .content-section + .content-section {
      margin-top: 25px;
    }
    .product-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 6px;
    }
    .btn-green {
      background: #004F44;
      color: #fff;
    }
    .btn-green:hover {
      background: #24714a;
      color: #fff;
    }
    .table thead {
      background: #f3f3f3;
    }
    

    .btn-edit {
      background: #24714a;
      color: #fff;
      font-size: .99rem;
      border-radius: 6px;
      padding: 5px 20px;
      margin-bottom: 2px;
    }
    .btn-edit:hover {
      background: #168162;
    }
    .btn-block {
      background: #c1121f;
      color: #fff;
      font-size: .99rem;
      border-radius: 6px;
      padding: 5px 18px;
      margin-left: 6px;
      margin-bottom: 2px;
    }
    .btn-block:hover {
      background: #73090c;
    }
    .pagination .page-link {
      color: #074d3d;
      min-width: 38px;
      min-height: 38px;
      text-align: center;
      border: none;
      border-radius: 50%;
      margin: 0 4px;
    }
    .pagination .active .page-link {
      background: #074d3d;
      color: #fff;
    }
    @media (max-width:991px) {
      .main-content {
        margin: 16px 4px;
      }
      .content-section {
        padding: 14px 12px;
      }
      .sidebar {
        min-height: auto;
        padding: 13px 0;
      }
    }