{% extends "base.html" %}
{% load static %}
{% block user_profile_details %}


<!-- Breadcrumb -->
<div class="container py-3">
    <div class="row">
        
        {% include "users/user_profile_sidebar.html" with current_page="Change Password" %}
    


    </div>
    
    <!-- Profile change password -->
    <div class="col-md-9 py-2">
        <div class="profile-card">
            
            <div class="reset-box">
                <h3>Change Password</h3>
                <!-- show message -->
                

                <form method="POST" >
                {% csrf_token %}
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Current Password" name="current_password" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="New Password" name="new_password" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Confirm New Password" name="confirm_new_password" required>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
    
        
        </div>
    </div>
        
      
    </div>
  </div>
</div>
{% endblock %}
