{% extends "base.html" %}
{% load static %}
{% block user_profile_details %}

<!-- Breadcrumb -->
<div class="container py-3">
  <div class="row">
        {% include "users/user_profile_sidebar.html" %}
    </div>
    
    <!-- Profile Details -->
    <div class="col-md-9 py-2">
        <div class="profile-card">
          <div class="profile-row d-flex justify-content-between">
            <span class="label">Full Name</span>
            <span class="value">{{ profile.user.first_name }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Email</span>
            <span class="value">{{ profile.user.email }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Mobile</span>
            <span class="value">{{ profile.phone }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Date of Birth</span>
            <span class="value">{{ profile.dob }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Gender</span>
            <span class="value">{{ profile.gender }}</span>
            </div>
            <div class="text-end mt-3">
            <button class="btn btn-sm btn-sucess edit-btn"><a href="{% url "profile_edit" %}" style="text-decoration:none; color:#ffffffff">Edit</a></button>
            </div>

            
      <div class="profile- py-4">
        {% if default_address %}
        <h5>Addres {{default_type}} (Defalut)</h5>

        <div class="profile-row d-flex justify-content-between">
          <span class="label">Full Name</span>
          <span class="value">{{ default_address.full_name }}</span>
        </div>
        <div class="profile-row d-flex justify-content-between">
          <span class="label">Phone</span>
          <span class="value">{{ default_address.phone }}</span>
        </div>
        <div class="profile-row d-flex justify-content-between">
          <span class="label">Address</span>
          <span class="value">{{ default_address.line1 }},  {{ default_address.line2}}, {{ default_address.city}}</span>
        </div>
        <div class="profile-row d-flex justify-content-between">
          <span class="label"></span>
          <span class="value">{{ default_address.state }},  {{ default_address.postal_code}}, {{ default_address.country}}</span>
        </div>  
        {% endif %}      
      </div>
    </div>
        
      
    </div>
  </div>
</div>
{% endblock %}
