{% extends "base.html" %}
{% load static %}
{% block user_profile_details %}

<!-- Breadcrumb -->
<div class="container py-3">
  <div class="row">
    
    

        {% include "users/user_profile_sidebar.html" %}


    </div>
    
    <!-- Profile Details -->
    <div class="col-md-9 py-2">
        <div class="profile-card">
          <!-- show message -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Full Name</span>
            <span class="value">{{ profile.user.first_name }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Email</span>
            <span class="value">{{ profile.user.email }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Mobile</span>
            <span class="value">{{ profile.phone }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Date of Birth</span>
            <span class="value">{{ profile.dob }}</span>
            </div>
            <div class="profile-row d-flex justify-content-between">
            <span class="label">Gender</span>
            <span class="value">{{ profile.gender }}</span>
            </div>
            <div class="text-end mt-3">
            <button class="btn btn-sm btn-sucess edit-btn"><a href="{% url "profile_edit" %}" style="text-decoration:none; color:#ffffffff">Edit</a></button>
            </div>

            
      <div class="profile- py-4">
        <h5>Addres (Defalut)</h5>
        <div class="profile-row d-flex justify-content-between">
          <span class="label">Full Name</span>
          <span class="value">{{ default_address.full_name }}</span>
        </div>
        <div class="profile-row d-flex justify-content-between">
          <span class="label">Phone</span>
          <span class="value">{{ default_address.phone }}</span>
        </div>
        <div class="profile-row d-flex justify-content-between">
          <span class="label">Address</span>
          <span class="value">Bay Area, San Francisco, CA</span>
        </div>
        
      </div>
    </div>
        
      
    </div>
  </div>
</div>
{% endblock %}
