{% extends "base.html" %}
{% load static %}

{% block user_reset_password %} 
<!-- user-reset-password-section -->
<!-- Reset Password Box -->
  <div class="reset-box">
    <h3>Reset Password</h3>
  <form method="POST" action="{% url 'reset_password' %}">
      {% csrf_token %}
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="New Password" name="new_password" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required>
      </div>
      <button type="submit" class="btn btn-submit">Submit</button>
    </form>
  </div>

{% endblock user_reset_password %}