{% extends "base.html" %}
{% load static %}

{% block user_signup_verify_otp %}
<!-- user-signup-verify-otp-section -->
<section class="otp-section py-5">
    <form action="" method="post" class="otp-form">
        {% csrf_token %}
        <div class="container">
            <div class="otp-box mx-auto p-4 text-center">
                <h4 class="mb-4">Verify Your OTP</h4>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
                <!-- OTP Inputs -->
                <div class="d-flex justify-content-center mb-3">
                    <input type="text" maxlength="1" class="otp-input mx-1" required name="otp1">
                    <input type="text" maxlength="1" class="otp-input mx-1" required name="otp2">
                    <input type="text" maxlength="1" class="otp-input mx-1" required name="otp3">
                    <input type="text" maxlength="1" class="otp-input mx-1" required name="otp4">
                </div>

                 <input type="hidden" name="otp" id="otpValue">
                <!-- Resend Link & Timer -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <small>
                        Didn’t get the OTP?
                        <a href="#" class="fw-bold" style="color: #004F44; ;">Resend OTP</a>
                    </small>
                    <small id="timer">00:56</small>
                </div>

                <!-- Submit Button -->
                <button class="btn btn-success px-5">Submit</button>
            </div>
        </div>
    </form>   
    </section>

{% endblock user_signup_verify_otp %}








