{% extends "base.html" %}
{% load static %}
{% block wishlist %}

<!-- Wishlist Section -->
<div class="container my-5">
    <h4 class="mb-3 text-center">My Wishlist</h4>
    <div class="table-responsive">
        <table class="table align-middle rounded-3 overflow-hidden shadow bg-white text-center">
            <thead class="bg-light">
                <tr>
                    <th>Product</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in wishlist_items %}
                <tr>
                    <td>
                        {% with first_image=entry.variant.images.all|slice:":1"|first %}
                        {% if first_image %}
                            <img src="{{ first_image.image.url }}" alt="{{ entry.variant.name }}" width="80" class="me-3 rounded">
                        {% else %}
                            <img src="https://img.icons8.com/color/96/000000/plant-under-sun.png" class="img-fluid" style="width:60px;">
                        {% endif %}
                        {% endwith %}
                        <div class="text-muted small">
                            <a href="{% url 'remove_from_wishlist' entry.variant.id %}" class="text-danger text-decoration-none">Remove</a>
                        </div>
                    </td>
                    <td>
                        <strong>{{ entry.variant.product.name }} - {{ entry.variant.variant_type }}</strong>
                    </td>
                    <td>
                        {% if entry.final_price < entry.original_price %}
                            <span class="text-decoration-line-through text-muted">₹{{ entry.original_price }}</span>
                            <span class="text-danger fw-bold">₹{{ entry.final_price }}</span>
                        {% else %}
                            <span class="fw-bold">₹{{ entry.original_price }}</span>
                        {% endif %}
                    </td>
                    <td>
                         {% if entry.variant.stock > 0 %}
        <a href="{% url 'add_to_cart' entry.variant.id %}" class="btn btn-success btn-sm">Add to Cart</a>
    {% else %}
        <span class="badge bg-danger">Out of Stock</span>
    {% endif %}
                    </td>
                </tr>
                {% empty %}
                <p>Your wishlist is empty</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock wishlist %}
