{% extends "greenest_admin/base.html" %}
{% load static %}
{% block content %}


    <div class="col-lg-7 shadow rounded bg-white p-4">
      <!-- Header Section -->
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <h3 class="fw-bold mb-0">Add / Edit Category Offer</h3>
      </div>
      
      <!-- Offer Form Section -->
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="mb-3">
              <label for="id_category">Category</label>
              {{ form.category }}
              <span class="text-danger">{{ form.category.errors }}</span>
          </div>
          <div class="mb-3">
              <label for="id_discount_percentage">Discount (%)</label>
              {{ form.discount_percentage }}
              <span class="text-danger"> {{ form.discount_percentage.errors }}</span>
          </div>
          <div class="mb-3">
              <label for="id_start_date">Start Date</label>
              {{ form.start_date }}
              <span class="text-danger">{{ form.start_date.errors }}</span>
          </div>
          <div class="mb-3">
              <label for="id_end_date">End Date</label>
              {{ form.end_date }}
              <span class="text-danger">{{ form.end_date.errors }}</span>
          </div>
          <div class="mb-3 form-check">
              {{ form.is_active }}
              <label class="form-check-label" for="id_is_active">Active</label>
              {{ form.is_active.errors }}
          </div>

          <button type="submit" class="btn btn-primary">Save Offer</button>
        </form>

    </div>
  </div>
</div>

{% endblock %}
